<div class="top-row ps-3 navbar navbar-dark">
    <div class="container-fluid">
        <a class="navbar-brand" href="">MyApp</a>
        <button title="Navigation menu" class="navbar-toggler" @onclick="ToggleNavMenu">
            <span class="navbar-toggler-icon"></span>
        </button>
    </div>
</div>

<div class="@NavMenuCssClass nav-scrollable" @onclick="ToggleNavMenu">
    <nav class="flex-column">
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="memory">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Memory
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="calc">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Quick Calculate
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="reaction">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Reaction
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="typing">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Typing
            </NavLink>
        </div>
        <div class="nav-item px-3">
            <NavLink class="nav-link" href="leaderboard">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Leaderboard
            </NavLink>
        </div>
    </nav>
</div>

@code {
    private bool collapseNavMenu = true;

    private string? NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
