@page "/calc"
@rendermode InteractiveAuto

<PageTitle>Quick Calculate</PageTitle>

<Heading1>Quick Calculate</Heading1>

<div>
    <PrimaryButton @onclick="NavigateToEasy">Easy</PrimaryButton>
    <PrimaryButton @onclick="NavigateToMedium">Medium</PrimaryButton>
    <PrimaryButton @onclick="NavigateToHard">Hard</PrimaryButton>
</div>

@code{
    private void NavigateToEasy()
    {
        NavigationManager.NavigateTo("/easy");
    }

    private void NavigateToMedium()
    {
        NavigationManager.NavigateTo("/medium");
    }

    private void NavigateToHard()
    {
        NavigationManager.NavigateTo("/hard");
    }

    [Inject]
    private NavigationManager NavigationManager { get; set; }
}