@page "/memory"
@* @rendermode InteracitveAuto *@

<h1>Memory</h1>

<div class ="card-grid">
    @foreach(var card in Cards)
    {
        <div class="card" @onclick="() => FlipCard(card.Id)">
            <div class="card-front">
                <span class="card-number" style="color: @card.Color">@card.Number</span>
            </div>
            <div class="card-back"></div>
        </div>
    }
</div>

@code{
    @inherits MemoryGame
}