@page "/reaction"
@inherits MyApp.Pages.ReactionBase

<PageTitle>Reaction</PageTitle>

<h1 style="text-align: center; font-size: 2rem; font-weight: bold;">Reaction Test Game</h1>
<h3 style="text-align: center; font-size: 1.25rem;">Press the button when it says so</h3>

<div style="display: flex; justify-content: center; align-items: center; flex-direction: column;">
    @if (!inAction)
    {
        <button @onclick="TestKidou"
                style="margin: 16px auto; font-weight: bold; transition: all 0.1s ease-in; padding: 8px 16px; background-color: #3b82f6; color: white; border-radius: 8px;">
            Start the test
        </button>
    }
    else
    {
        @if (!springUp)
        {
            <button @onclick="TestEarly"
                    style="margin: 16px auto; font-weight: bold; padding: 8px 16px; background-color: #f87171; color: white; border-radius: 8px;">
                @commencingText
            </button>
        }
        else
        {
            <button @onclick="TestFinsh"
                    style="margin: 16px auto; font-weight: bold; padding: 8px 16px; background-color: #10b981; color: white; border-radius: 8px;">
                @commencingText
            </button>
        }
    }
</div>

<div style="text-align: center; margin-top: 16px;">
    <p>Your Reaction time: @reactionTime</p>
</div>

<div style="text-align: center; margin-top: 16px;">
    <button @onclick="SaveResults"
            style="font-weight: bold; padding: 8px 16px; background-color: #3b82f6; color: white; border-radius: 8px;">
        Save Result
    </button>
</div>